[submodule "layers_osrs"]
	path = layers_osrs
	url = https://github.com/mejrs/layers_osrs
[submodule "layers_rs3"]
	path = layers_rs3
	url = https://github.com/mejrs/layers_rs3
[submodule "wasm-pathfinder"]
	path = wasm-pathfinder
	url = https://github.com/mejrs/wasm-pathfinder
